body{
    background-image: url("https://img5.goodfon.ru/wallpaper/nbig/4/23/kuby-figury-cube-figures-fon-blue-yellow-fon-sinii.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 96.5vh;
    min-width: 100vh;
        height: 100%;
        margin: 0;
        padding: 0;
      
}
.curtain{
    margin-top: 0.5% ;
    margin-bottom: 1%;
    width: 98.5%;
    max-width: 98.5%;
    height: 6%;
    border: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color:rgb(184, 129, 26);
    z-index: 1;
    position: absolute;
}
.button{
    font-size: 2vh;
    font-family:Comic Sans MS, Comic Sans, cursive;
    margin-left: 10vw; 
    margin-top: 0.5vh;
    float: left;
    color: rgb(0, 0, 0);
    min-width: 25px;
    min-height: 12px;
    width: 10vh ;
    height: 4vh ;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.text:hover{
    border-radius: 20px;
    background-color: blue;
    transition: 0.7s;
}
.task{
    border: 10px; 
    border-radius: 15px;
    background-color: black;
    margin-right: 2%;
    margin-left:4% ;
    margin-top: 7% ;
    width:20%;
    height:30% ;
    text-shadow: 4px 2px 4px rgba(255, 0, 0, 0.5);
    float: left;
}
.picture{
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
    width: 100%;
    height: 70%;
    box-sizing: border-box; 
    border-radius: 15px;
   
}
.textforlist{
    color: aliceblue;
    text-align: center;
    font-size: 1.5vw;
    font-family: FreeMono, monospace;
    margin-top: 1vh;
}
.motivationimg{
    float: right;
    width: 30%;
    height: 30%;
    margin: 3%;
    border-radius:25px ;
    box-shadow: 0 0 15px;
}
.textformotivation{
    font-size: 5vh;
    margin: 2%;
}
.versionwebsite{
font-size: 2vh;
 position: fixed;
 top: 93%;
 left: 2%;
 color: coral;
}
.controlpanel{
    border: 10px;
    background-color: black;
    width: 20%;
    height: 100vh;
    float: right;
    z-index: 2;
    position: relative;
}